
[Unit]
Description=Update ArchLinux mirrors for RebornOS
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rate-mirrors --protocol=https --allow-root --save=/etc/pacman.d/mirrorlist arch

[Install]
RequiredBy=multi-user.target